@media screen and (max-width: 767px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 1rem;
      }
    
      .hero {
        height: auto
      }
      .nav-links.open {
        display: flex;
      }
      .nav-links a {
        color:#fff
      }
      .menu-icon {
        display: block;
      }
    .flex {
        flex-direction: column;
    }
    section.hero .row .flex {
      flex-direction: column-reverse;
  }
  .socialLogo {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}
    .row [class*="col"] {
    width: 100%
}
    .row {
        max-width: 100%
    }

    h2 {
        font-size: 32px
    }
    .items-center.flex.navContainer {
        flex-direction: row;
    }
    ul.skillList li {
        flex-basis: 100% !important
    }
    ul.expList {
      column-count: 1;
  }
    
  }